 // Bourbon & Neat & Bitters
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

//variables for styling
$font:Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";

/*=======================================================================
Overall styling/positiong for main parts of the page: Header, Sidebar, Repo Page, and footer
==========================================================================*/

body {
  background: #fffff;
  font-family: $font;
  color: #333;
}

header {
  height: 50px;
  font-size: 12px;
  background-color: #F5F5F5;
}

.outer-container-1 {
  @include outer-container;
  padding: 10px 0 10px 0;
}

  .gitNav {
    @include span-columns(8);
    float: left;
    li {
      float: left;
    }
  }

  #userNav {
    @include span-columns(4);
    float: right;
    li {
      float:left;
    }
  }


#userNav img {
  height: 20px;
  width: 20px;
}

.outer-container-2 {
  @include outer-container;
  overflow: auto;
  margin-top: 20px;

  //sidebar and directory are within outer-container-2

/*=====================================================================
End overall styling and Begin Sidebar styling
=====================================================================*/

  .sidebar {
    @include span-columns(3.75);
    max-width: 228px;
  }

  .sidebar > * {
    float: left;
  }

  .sidebar img:first-child {
    float: left;
    height: 228px;
    border-radius: 10px;
  }

  .sidebar img:last-child {
    float: left;
    width: 45px;
    height: 45px;
  }

  #sidebarUserInfo {
    width: 100%;
  }

  #sidebarUserInfo h2 {
    font-size: 25px;
    font-weight: 900;
  }

  #sidebarUserInfo h3 {
    font-size: 20px;
    font-weight: 200;
    padding-bottom: 20px;
    border-bottom:1px solid gray;
  }

  .userInfo {
    margin-top: 20px;
    font-size: 12px;

    li:first-child span.octicon {
      margin-right: 12px;
    }

    li {
      margin-bottom: 3px;
      white-space: nowrap;
      overflow:hidden;
      text-overflow: ellipsis;
    }

    li span.octicon {
      color: lightgray;
      margin-right: 8px;
    }

    li a {
      font-weight: bold;
    }
  }

  .following {
    border-top: 1px solid gray;
    border-bottom: 1px solid lightgray;
    overflow: auto;

    li {
      float:left;
      margin:14px;
    }
    span:first-child {
      display:block;
      text-align: center;
      clear: both;
      font-size: 25px;
    }

    span:last-child {
      float: left;
      text-align: center;
      font-size: 12px;
    }
  }
/*=====================================================================
End of sidebar styling. Begin directory styling
========================================================================*/
  .directory {
    @include span-columns(8.25);
    @include omega();
  }

  .directory > * {

  }
}

/*========================================================================
End Directory. Begin Footer styling
=========================================================================*/
footer {
  height: 100px;
  border-top: 1px solid gray;
  ul:first-child {
    float: left;
  }
  ul:last-child {
    float:right;
  }

  li {
    float:left;
  }
}


/*=================================================================
Repo List Styling
==================================================================*/
.repoLinks {
  float: left;
  width: 100%;
  height: 34px;
  margin-bottom: 8px;

  ul {
    float: left;

    li {
      float: left;
      height: 100%;

      div {
        background-color:#85D868;
        border:1px solid #5CA941;
        padding: 8px 6px 8px 6px;
        border-radius: 3px;
        font-size:12px;
        font-weight: bold;
        margin-left: 4px;

        a {
          color: white;
          font-weight: bold;
          span {
            margin-left: 2px;
          }
        }
      }
    }

    li > * {
      display:inline-block;
    }

    input:first-child {
      color:lightgray;
    }

    .searchBtn {
      font-weight: bold;
      padding: 10px;
      margin-right: 26px;
      margin-left: 6px;
      height: 33px;
      background-color: #F0F0F0;
      border: 1px solid gray;
      border-radius: 5px;
    }

    a {
      margin: 12px 5px 12px 5px;
      font-weight: bold;
    }
  }

  li:first-child input {
    width: 260px;
    padding-right: 7px;
  }
}
.repoList li {
  float: left;
  width: 100%;
  height: 140px;
  border-top: 1px solid lightgray;
  padding: 33px 0 33px 0;
}

.repoHeader {
  float: left;
  width: 100%;
}

.repoTitle {
  float: left;
  font-size: 20px;
  font-weight: bold;

}

.repoHistory {
  float: right;
  font-size: 10px;
  font-weight: bold;
  color: gray;

  span {
    color:gray;
  }
}

.repoText {
  float: left;
  font-size: 12px;

  .repoDescr {
    display: block;
    padding: 12px 0 12px 0;
  }
}

/*=================================================================
End of Repo List Styling
==================================================================*/

footer {
  @include outer-container;
}
//===================================================================
//Tab - Accordion Styling
//===================================================================
.accordion-tabs-minimal {
  $tab-border-color: $base-border-color;
  $tab-border: 1px solid $tab-border-color;
  $tab-content-background: $base-background-color;
  $tab-active-background: $tab-content-background;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: darken($light-gray, 5);
  $tab-mode: $medium-screen;

  @include clearfix;
  margin-bottom: $base-spacing;

  li.tab-header-and-content {
    @include media($tab-mode) {
      display: inline;
      font-size: 14px;
      line-height: .9;
    }
  }

  a.tab-link {
    font-family:$font;
    font-style: bold;
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $dark-gray;
    display: block;
    font-weight: 400;
    padding: $base-spacing/2 $gutter;

    @include media($tab-mode) {
      @include inline-block;
      border-top: 0;
    }

    &:hover {
      color: $base-link-color;
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      border-bottom: 0;

      @include media($tab-mode) {
        border: $tab-border;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;
      }
    }
  }

  .tab-content {
    display: none;
    padding: $base-spacing $gutter;
    padding-right: 0;
    padding-left: 0;

    @include media($tab-mode) {
      border-top: $tab-border;
      float: left;
    }
  }
}

//===========================================================================
//End of Tab-Accordion Styling
//============================================================================
