 // Bourbon & Neat & Bitters
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

header {
  height:50px;
  font-size:12px;
}


.outer-container-1 {
  @include outer-container;
  overflow:auto;

  ul {
    @include span-columns(8);
    float:left;

    & > * {
      float:left;
    }
  }

  ul#userNav {
    @include span-columns(4);
    float:right;

    & > * {
      float:left;
    }
  }
}

#userNav img{
  height:20px;
  width:20px;
}

.outer-container-2 {
  @include outer-container;
  overflow:auto;

  .sidebar {
    @include span-columns(3);
  }

  .sidebar > * {
    float:left;
  }

  .directory {
    @include span-columns(9);
  }

  .directory > * {
    float:left;
  }
}

footer {
  height: 100px;

  ul:first-child {
    float: left;
  }
  ul:last-child {
    float:right;
  }

  li {
    float:left;
  }
}
//===================================================================
//Tab - Accordion Styling
//===================================================================
.accordion-tabs-minimal {
  $tab-border-color: $base-border-color;
  $tab-border: 1px solid $tab-border-color;
  $tab-content-background: $base-background-color;
  $tab-active-background: $tab-content-background;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: darken($light-gray, 5);
  $tab-mode: $medium-screen;

  @include clearfix;
  margin-bottom: $base-spacing;

  li.tab-header-and-content {
    @include media($tab-mode) {
      display: inline;
    }
  }

  a.tab-link {
    background-color: $tab-inactive-color;
    border-top: $tab-border;
    color: $dark-gray;
    display: block;
    font-weight: 400;
    padding: $base-spacing/2 $gutter;

    @include media($tab-mode) {
      @include inline-block;
      border-top: 0;
    }

    &:hover {
      color: $base-link-color;
    }

    &:focus {
      outline: none;
    }

    &.is-active {
      border-bottom: 0;

      @include media($tab-mode) {
        border: $tab-border;
        border-bottom-color: $tab-active-background;
        margin-bottom: -1px;
      }
    }
  }

  .tab-content {
    display: none;
    padding: $base-spacing $gutter;

    @include media($tab-mode) {
      border-top: $tab-border;
      float: left;
    }
  }
}

//===========================================================================
//End of Tab-Accordion Styling
//============================================================================
