<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Github</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" href="images/octicons/octicons.css"
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <header>
      <ul>
        <li><a href="#"></a><span class="octicon octicon-mark-github"></span></li>
        <li><input type="search" name="Search Github" value="Search Github"></li>
        <li><a href="#">Explore</a></li>
        <li><a href="#">Gist</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Help</a></li>
      </ul>
      <ul id="userNav">
        <!-- Template goes here -->
      </ul>
    </header>
    <section class="sidebar">
      <!-- Template items go inside here! -->
      <ul class="organizations">
      </ul>
    </section>

      <div class="directory">
        <div class="profileBtn"><span class="octicon octicon-pencil"></span>Edit Profile</div>
        <ul class="accordion-tabs-minimal">
          <li class="tab-header-and-content">
            <a href="#" class="tab-link is-active"><span class="octicon octicon-diff-added"></span>Contributions</a>
            <div class="tab-content">
              <p>no content</p>
            </div>
          </li>
          <li class="tab-header-and-content">
            <a href="#" class="tab-link"><span class="octicon octicon-repo-pull"></span>Repositories</a>
            <div class="tab-content">
              <input type="Search" name="Repo_Search" value="Find a repository...">
              <input type="button" name="Search_Button" value="Search">
              <a href="#">All</a>
              <a href="#">Public</a>
              <a href="#">Private</a>
              <a href="#">Sources</a>
              <a href="#">Forks</a>
              <a href="#">Mirrors</a>
              <div class="button"><span class="octicon octicon-repo-pull"></span>New</div>
              <ul class="repoList">
                <!--Template items go inside here! -->
              </ul>

            </div>
          </li>
          <li class="tab-header-and-content">
            <a href="#" class="tab-link"><span class="octicon octicon-rss"></span>Public Activity</a>
            <div class="tab-content">
                <p>no content</p>
            </div>
          </li>
      </ul>
    </div><!--directory end -->



    <footer>
      <nav>
        <ul>
          <li>CopyrightSymbol Github, Inc.</li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Security</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <span class="octicon octicon-mark-github">
      <nav>
        <ul>
          <li><a href="#">Status</a></li>
          <li><a href="#">API</a></li>
          <li><a href="#">Training</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav>
    </footer>

    <!--- Templates ---->
    <script id="repo_template" type="text/template">
      <li><a href="<%= html_url %>"<h3 class="repoTitle"><%= name %></h3></a>
        <a href="<%= stargazers_url %>"><span class="octicon octicon-star"></span><span><%= stargazers_count %></span></a>
        <a href=""><span class="octicon octicon-git-branch"></span><span><%= forks %></span></a>
        <span class="repoDescr"><%= description %></span>
        <span class="repoUpdate"><%= updated_at %></span>
      </li>
    </script>

    <script id="user_template" type="text/template">
      <img src="<%= avatar_url  %>">
      <h2><%= name %></h2>
      <h3><%= login %></h3>
      <ul class="userInfo">
        <li><span class="octicon octicon-location"></span><span><%= location %></span></li>
        <li><span class="octicon octicon-mail"></span><span><%= email %></span></li>
        <li><span class="octicon octicon-link"></span><span><%= blog %></span></li>
        <li><span class="octicon octicon-clock"></span><span><%= created_at %></span></li>
      </ul>
      <ul class="following">
        <li><a href="<%= followers_url %>"><span><%= followers %></span><span>Followers</span></a></li>
        <li><a href="<%= starred_url %>"><span><%= public_gists %></span><span>Starred</span></a></li>
        <li><a href="<%= following_url %>"><span><%= following %></span><span>Following</span></a></li>
      </ul>

    </script>

    <script id="organization" type="text/template">
      <li>
        <a href="<%= url %>"><img src="<%= avatar_url %>"></a>
      </li>
    </script>

    <script id="userNav_template" type="text/template">
      <li><a href="#"><img src="<%= avatar_url  %>"><%= login %></a></li>
      <li><a href="#"><span class="octicon octicon-plus"></span></a></li>
      <li><a href="#"><span class="octicon octicon-inbox"></span></a></li>
      <li><a href="#"><span class="octicon octicon-gear"></span></a></li>
      <li><a href="#"><span class="octicon octicon-sign-out"></span></a></li>
    </script>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
        <script src="scripts/token.js"></script>
        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
